//COLORS

$primary-yellow: #FEB800;
$primary-light-yellow: #FDB83E;
$primary-dark-yellow: #C57311;

$dark: #000;
$light: #FFF;
$first-grey: #EFEFEF;
$second-grey: #E8E7E3;

$secondary-blue: #60A6D1;
$secondary-dark-blue: #032034;
$secondary-light-blue: #4FC7F7;

//FONTS
$font-primary:'Roboto', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px/16px = 62.5% -> 10px
}

body {
    font-family: $font-primary;
    color: $dark;
    font-weight: 300;
    line-height: 1.6;
}