.btn-hashtag {
    display: inline-block;
    justify-content: center;
    margin: .3rem;
    background-color: $primary-yellow;
    color: $secondary-dark-blue;
    border: none;
    text-decoration: none;
    border-radius: 1rem;
    padding: .1rem 1.5rem;
    font-size: 1.3rem;
    width: 9rem;
    &:hover {
        background-color: $primary-dark-yellow;
    }
}


#root {
    justify-self: center;
}