

.highlight {
    display: grid;
    margin: 10rem 20rem;

    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    &box {
        display: grid;
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;
        &__image {
            height: 30rem;
            border-radius: .9%;
        }
        &__content {
            display: grid;
            grid-template-rows: repeat(2, minmax(150px, min-content));
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-rows:15px;
            grid-gap: 10px;
            background-color: white;
            &-avatar {
            height: 5rem;
            border-radius: 100%;
            }
            &-text {
                align-self: end;
            }
            &-date {
                color: cadetblue;
                justify-self: end;
            }
        }

}
}

