.container {
    display: grid;
    grid-template-rows: 80vh min-content 80vh;
}

.header {
    background-image: linear-gradient(to right bottom, rgba(0,0,12,0.4),rgba(5, 6, 14, 0.7)) ,url(../img/main-img.jpg);
    background-size: cover;
    background-position: center;
    color: $light;
    padding: 5rem;
    display: grid;
    grid-template-rows: 1fr min-content 6rem 1fr;
    grid-row-gap: 2rem;

    &__logo {
        height: 10rem;
    }
    &__search-input {
        font-size: 2.5rem;
        padding: 1rem;
        background-color: rgba(0,0,0,0.4);
        border: none;
        color: $second-grey;
        align-self: start;
        justify-self: center;
        width: 70%;
    }
    &__search-hashtag {
        align-self: start;
        justify-self: center;
        width: 70%;
    }

    
}



.footer {
    background-color: rgb(226, 226, 226);
}