h1 {
    font-family: $font-primary;
    font-size: 5rem;
    font-weight: 400;
}

h2 {
    font-family: $font-primary;
    font-size: 2.5rem;
    font-weight: 200;
}

p {
    font-family: $font-primary;
    font-size: 1.2rem;
}